.mail-list-container .mail-list .mail-preview-container {
    display: grid;
    grid-template-columns: minmax(200px, 12.5vw) 1fr 6fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding-block: 7px;
    border-block-end: 0.5px solid #c4c7c5;
    border-inline: 0.5px solid var(--google-light-grey);
    background-color: white;
    font-size: var(--mail-preview-font-size);
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
}

.mail-list .mail-preview-container:hover {
    background-color: var(--google-white);
}

.mail-list .mail-preview-container.empty {
    white-space: nowrap;
    cursor: default;
    padding-inline-start: 15px;
}

.mail-list .mail-preview-container .mail-from {
    white-space: nowrap;
}

.mail-list .mail-preview-container .mail-subject {
    white-space: nowrap;
}

.mail-list .mail-preview-container .mail-body {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--google-light-black);
    font-weight: 400;
}

.mail-list-container .mail-list .mail-preview-container:last-of-type {
    border-radius: 0 0 10px 10px;
}

.mail-list .mail-preview-container span.mail-from {
    display: flex;
    align-items: center;
}

.mail-list .mail-preview-container span.mail-time {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-inline-start: auto;
    width: 130px;
    height: 30px;
    margin-inline-end: 10px;
    white-space: nowrap;
    font-weight: 400;
}

.mail-list-container .mail-list .mail-preview-container.read {
    background-color: var(--google-white);
    font-weight: 400;
}