.mail-list-container .sort-container {
    display: flex;
    border-block-end: 1px solid var(--google-grey);
    background-color: var(--google-transparent);
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--google-light-grey);
    padding: 5px;
}

.sort-container input[name="sentAt"],
.sort-container input[name="subject"] {
    visibility: hidden;
}

.sort-container input[name="sentAt"]::after,
.sort-container input[name="subject"]::after {
    visibility: visible;
    font-family: fa-solid;
    content: '\f077';
    cursor: pointer;
}

.sort-container input[name="sentAt"]:checked::after,
.sort-container input[name="subject"]:checked::after {
    content: '\f078';
}

.sort-container label.sort-by-date,
.sort-container label.sort-by-name {
    cursor: pointer;
    margin-inline: 10px;
}