:root {
    /* Google palette */

    --google-red: #d62d20;
    --google-blue: #0b57d0;
    --google-green: #008744;
    --google-yellow: #ffa700;
    --google-sky: #c2e7ff;
    --google-cyan: #dde7f4;
    --google-light-cyan: #f5f8fc;
    --google-black: #333333;
    --google-light-black: #555555;
    --google-dark-grey: #5f6368;
    --google-grey: #c4c7c5;
    --google-light-grey: #dbdbdb;
    --google-white: #f2f2f2;
    --google-light-yellow: #feefc3;
    --google-transparent: #00000000;

    /* Marker colors for Keep */
    --google-marker-red: #faafa8;
    --google-marker-green: #e2f6d3;
    --google-marker-blue: #d4e4ed;
    --google-marker-yellow: #fff8b8;


    /* Sizes */
    --mail-preview-font-size: 0.875rem;
    --mail-compose-width: min(380px, 35vw);
    --mail-compose-height: 50vh;
}