.editmode-area {
    font-family: Roboto;
    background: none;
    border: none;
    resize: none;
}

.editmode-area:focus {
    outline: none;
}

.edit-btn {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    bottom: .6em;
    right: 4em;
}

.note-container:hover .edit-btn {
    opacity: 1;
}
