.note-list {
    padding: 15px 0 0;
    list-style: none;
    display: block;
    columns: 6 250px;
    align-items: start;
}

.note-list .note-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: var(--google-light-yellow);
    transition: background-color .6s;
    overflow: hidden;
    padding: 8px 12px;
    min-height: 120px;
}

.note-list .note-container:focus {
    outline: none;
}

.note-list .note-container:not(:first-of-type) {
    margin-block-start: 15px;
}

.note-list .note-container:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.note-list .note-container button{
    background: none ;
    border: none;
    margin-inline: 2px;
}

.note-list .note-container button:hover{
    background-color: rgba(165, 165, 165, 0.7) ;
    border-radius: 50%;
}

.pin-icon {
    background:none;
    border: none;
    position: absolute;
    top: 10px;
    right: 1em;
}

.fa-thumbtack:hover  {
    animation:  1s rubberBand;
}

.fa-trash-can:hover {
    color: var(--google-red);
    animation: 1s swing;
}


.note-container .pin-icon,
.note-container section button {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.note-container:hover .pin-icon,
.note-container:hover section button {
  opacity: 1;
}