.app .mail-container {
    background-color: var(--google-white);
    min-height: 85vh;
    margin-block-start: 1.5rem;
    margin-inline: 2rem;
    border-radius: 1rem;
    padding: 0.5em;
}

.app .mail-container .top-controls {
    display: flex;
}

.app .mail-container .subject-header {
    border-block-end: 1px solid var(--google-light-grey);
    padding-block: 5px;
}

.app .mail-container .mail-details-header {
    display: flex;
    gap: 8px;
    font-size: 0.875em;
    color: var(--google-black);
    padding-block: 5px;
    border-block-end: 1px solid var(--google-light-grey);
}

.app .mail-container .mail-content {
    width: 80%;
}

.app .mail-container pre {
    font-family: 'Roboto', 'GoogleSans', sans-serif;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-size: .875rem;
    font-weight: 400;
}