/* MOBILE ONLY */
@media (max-width: 660px) {
    .mail-list-container .mail-list .mail-preview-container {
        grid-template-columns: minmax(50px, auto) minmax(50px, 1fr) minmax(50px, 1fr) 25px;
        grid-template-rows: 25px 25px 25px;
        column-gap: 10px;
        position: relative;
    }

    .mail-list .mail-preview-container .mail-body {
        grid-row: 3;
        grid-column: 1/-1;
        margin-inline-start: 0.75em;
    }

    .mail-list .mail-preview-container .mail-from {
        margin-inline-start: 0.75em;
    }

    .mail-list .mail-preview-container span.mail-time {
        grid-column: -1;
        grid-row: 1;
    }

    .mail-list .mail-preview-container .mail-subject {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        grid-column: 1/-1;
        grid-row: 2;
        margin-inline-start: 0.75em;
    }

    .mail-preview-container button.star {
        position: absolute;
        right: 0.65em;
        bottom: 2em;
        font-size: .875rem;
    }

    .app .main-mail {
        justify-content: center;
    }

    .app .main-mail aside {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5625em;
        z-index: 10;
        bottom: 0;
        width: 100%;
        margin: 0;
        background-color: var(--google-white);
    }

    .main-mail aside .compose {
        margin: 0;
        justify-self: start;
        margin-inline-end: auto;
        margin-inline-start: 0.875em;
    }

    .app .main-mail aside ul {
        display: flex;
        margin-inline-end: 1em;
        gap: 0.6em;
    }

    .app .mail-container .mail-details-header {
        display: grid;
        gap: 4px;
    }

    main.main-mail .compose-mail {
        position: fixed;
        right: 2vw;
        z-index: 100;
        background-color: white;
        width: 95%;
        height: 80%;
        box-shadow: 11px 5px 40px var(--google-grey);
    }

    .compose-mail input,
    .compose-mail textarea {
        font-size: 1rem;
        margin-block-start: 0.5em;
    }

    .app .mail-container {
        margin-inline: 1rem;
    }
}

/* SMALL */
@media (min-width: 660px) {
    :root {
        --mail-compose-width: min(450px, 60%);
    }

    .mail-list-container .mail-list .mail-preview-container {
        grid-template-columns: minmax(50px, auto) minmax(50px, 1fr) minmax(50px, 1fr) 25px;
        grid-template-rows: 25px 25px;
        column-gap: 10px;
    }

    .mail-list .mail-preview-container span.mail-time {
        grid-column: -1;
        grid-row: 1/-1;
        font-weight: 700;
    }

    .mail-list .mail-preview-container .mail-body {
        grid-row: 2;
        grid-column: 1/-1;
        margin-inline-start: 0.75em;
    }

}

/* MEDIUM */
@media (min-width: 800px) {
    .mail-list-container .mail-list .mail-preview-container {
        grid-template-columns: minmax(200px, 12.5vw) 1fr 6fr 1fr;
        grid-template-rows: unset;
    }

    .mail-list .mail-preview-container .mail-body {
        grid-row: 1;
        grid-column: 3;
    }
}

/* LARGE */
@media (min-width: 1200px) {
    :root {
        --mail-compose-width: min(420px, 35vw);
    }

    .mail-list-container {
        margin-inline: 1.25em;
    }
}