.google-btn {
    all: unset;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5rem;
    transition: background-color 0.3s;
}

.google-btn:hover {
    background-color: var(--google-light-grey);
}

button.remove {
    font-family: fa-regular;
}

button.remove::after {
    content: '\f2ed';
}


button.plus {
    font-family: fa-regular;
}

button.plus:after {
    content: '\2b';
}

button.x-mark {
    font-family: fa-solid;
    cursor: pointer;
}

button.x-mark:after {
    content: '\f00d'
}