.google-btn {
    all: unset;
    font-size: .875rem;
    padding: 0.5rem;
    border-radius: 5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.google-btn:hover {
    background-color: var(--google-light-grey);
}

button.remove {
    font-family: fa-regular;
}

button.remove::after {
    content: '\f2ed';
}

.go-back {
    font-family: fa-solid;
}

.go-back::after {
    content: '\f060';
}

button.plus {
    font-family: fa-regular;
}

button.plus:after {
    content: '\2b';
}

button.x-mark {
    font-size: 1rem;
    font-family: fa-solid;
    padding: 0;
    cursor: pointer;
    transition: color 0.2s;
}

button button.x-mark:hover {
    color: var(--google-red);
}

button.x-mark:after {
    content: '\f00d'
}

.star {
    font-family: fa-regular;
    font-size: .745rem;
    font-weight: 400;
    padding: 0.4rem;
}

.star::after {
    content: '\f005';
}

.star.starred::after {
    font-family: fa-solid;
    color: var(--google-yellow);
}

.lower-controls button.mail-send {
    all: unset;
    position: relative;
    font-size: .875rem;
    padding: 0.6em 1.2em;
    background-color: var(--google-blue);
    color: white;
    border-radius: 2em;
    font-weight: 700;
    letter-spacing: 1.1px;
    cursor: pointer;
    transition: box-shadow 0.3s, padding 0.3s;
}

.lower-controls button.mail-send:after {
    position: absolute;
    right: 10px;
    padding: 3px 0;
    font-family: fa-solid;
    font-size: 0.9em;
    content: '\f061';
    opacity: 0;
    transition: padding 0.3s, opacity 0.3s, right 0.4s;
}

.lower-controls button.mail-send:hover {
    box-shadow: 1px 4px 20px #5696fc7c;
    padding-right: 1.4rem;
}

.lower-controls button.mail-send:hover:after {
    opacity: 1;
    right: 7px;

}