header {
    background: var(--google-white);
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.app-header h2.logo {
    font-family: Raleway, sans-serif;
    color: var(--google-blue);
    margin-inline: 5px;
}

.app-header h2.logo .in {
    color: var(--google-red);
}

.app-header h2.logo .box {
    color: var(--google-yellow);
}

.app-header h2.logo::after {
    color: var(--google-green);
    font-family: fa-solid;
    content: '\f1d8';
}

nav a {
    margin: .5em;
    color: var(--google-blue);

}

.app-header img {
    max-width: 17px;
}

nav a.active {
    color: var(--google-red);
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

nav a.active::after {
    content: '';
    display: block;
    height: 2px;
    background-color: var(--google-yellow);
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
}